body ,html{
    padding: 0;
    margin: 0;
    height: 100%;
   
}

.display-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    height: 100%;
}



.img-height {
    height: 280px;
}